<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/html2pdf.js/0.9.1/html2pdf.bundle.js"></script> -->
    <script src="html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.1/html2pdf.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/print_khs.css" />
    <title>Data Khs</title>
  </head>
  <body class="container-body">
    <section class="sider">
      <div class="img-container">
        <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="img" />
        <p>UMC</p>
      </div>
      <a href="/" class="selection">KHS</a>
      <a href="/rekap" class="not-selection">Rekap Tagihan</a>
      <a href="/alumni" class="not-selection">Alumni</a>
      <a href="/loker" class="not-selection">Lowongan Kerja</a>
      <div class="account">
        <img id="img-sider" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="logo" class="img-user" />
        <p id="user-name"></p>
        <div class="options-user">
          <a class="btn" onclick="navigateEdit()">Edit Profile</a>
          <a class="btn-outline" onclick="handleLogout()">Logout</a>
        </div>
      </div>
    </section>
    <section class="container-content">
      <div class="header">
        <h3>KHS Mahasiswa</h3>
        <a class="btn" href="/khs/create">Tambah</a><br /><br />
      </div>
      <div class="container-table">
        <table class="content-table">
          <thead>
            <tr>
              <th>Nim</th>
              <th>Nama</th>
              <th>Kelas</th>
              <th>Program Studi</th>
              <th>Fakultas</th>
              <th colspan="3">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in data %}
            <tr>
              <td>{{ obj.nim }}</td>
              <td>{{ obj.nama_mhs }}</td>
              <td>{{ obj.kelas }}</td>
              <td>{{ obj.prodi }}</td>
              <td>{{ obj.homebase }}</td>
              <td class="action-width" id="{{obj.id}}" onclick="createPDF(this.id)"><span class="btn">Cetak</span></td>
              <td class="action-width"><a class="btn" href="/khs/edit/{{ obj.id }}">Edit</a></td>
              <td class="action-width"><a class="btn-outline" title="{{obj.id}}" onclick="handleDelete(this.title)">Hapus</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

    <div class="hidden">
      <section id="print-content" class="print-khs">
        <div class="header-print">
          <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="img-header" />
          <div class="header-content">
            <span style="font-size: 16px; font-weight: 600">UNIVERSITAS MUHAMMADIYAH CIREBON</span>
            <span style="font-size: 18px; font-weight: 600" id="header-info"></span>
            <span>Kampus 1: Jl Tuparev No. 70 Cirebon 45153 Telp. +62-231-204276 Fax: +62-231-209608</span>
            <span>Kampus 2 dan 3: Jl Fatahillah - Watubelah - Cirebon Email: info@umc.ac.id Website: www.umc.ac.id</span>
          </div>
        </div>

        <div style="border: 2px solid black; width: 100%; margin-bottom: 3px; margin-top: 18px"></div>
        <div style="border: 0.8px solid black; width: 100%; margin-bottom: 12px"></div>

        <p style="text-align: center; font-weight: 600">Kartu Hasil Studi</p>

        <div class="mhs-info-container">
          <div class="mhs-info">
            <p class="mhs-info-children"><span class="col-span-children-1">NIM</span> <span class="col-span-children-2">:</span> <span id="print-nim" class="col-span-children-3"></span></p>
            <p class="mhs-info-children"><span class="col-span-children-1">Nama</span> <span class="col-span-children-2">:</span> <span id="print-nama" class="col-span-children-3"></span></p>
          </div>

          <div class="mhs-info">
            <p class="mhs-info-children"><span class="col-span-children-1">Program Studi</span> <span class="col-span-children-2">:</span> <span id="print-prodi" class="col-span-children-3"></span></p>
            <p class="mhs-info-children"><span class="col-span-children-1">Homebase</span> <span class="col-span-children-2">:</span> <span id="print-fakultas" class="col-span-children-3"></span></p>
          </div>
        </div>

        <table class="table-print">
          <cols>
            <col style="width: 40%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
          </cols>
          <thead>
            <tr>
              <th>Mata Kuliah</th>
              <th>SKS</th>
              <th>Nilai</th>
              <th>Bobot</th>
              <th>AM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="print-matkul-basdat"></td>
              <td id="print-sks-basdat"></td>
              <td id="print-nilai-basdat"></td>
              <td id="print-bobot-basdat"></td>
              <td id="print-am-basdat"></td>
            </tr>

            <tr>
              <td id="print-matkul-etpro"></td>
              <td id="print-sks-etpro"></td>
              <td id="print-nilai-etpro"></td>
              <td id="print-bobot-etpro"></td>
              <td id="print-am-etpro"></td>
            </tr>

            <tr>
              <td id="print-matkul-pbo2"></td>
              <td id="print-sks-pbo2"></td>
              <td id="print-nilai-pbo2"></td>
              <td id="print-bobot-pbo2"></td>
              <td id="print-am-pbo2"></td>
            </tr>

            <tr>
              <td id="print-matkul-jarkom"></td>
              <td id="print-sks-jarkom"></td>
              <td id="print-nilai-jarkom"></td>
              <td id="print-bobot-jarkom"></td>
              <td id="print-am-jarkom"></td>
            </tr>

            <tr>
              <td id="print-matkul-robotika"></td>
              <td id="print-sks-robotika"></td>
              <td id="print-nilai-robotika"></td>
              <td id="print-bobot-robotika"></td>
              <td id="print-am-robotika"></td>
            </tr>

            <tr>
              <td style="text-align: center; font-weight: 600">Jumlah Kredit per Semester</td>
              <td id="print-total-sks" style="font-weight: 600"></td>
              <td colspan="2"></td>
              <td id="print-total-am" style="font-weight: 600"></td>
            </tr>

            <tr>
              <td style="text-align: center; font-weight: 600">Index Prestasi Semester</td>
              <td colspan="4" id="print-ip" style="text-align: center; font-weight: 600"></td>
            </tr>
          </tbody>
        </table>

        <i class="footer-khs">powered by D3 TF22A kelompok 1</i>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // =============== HANDLE AUTH ===============

      if (!localStorage.getItem("nama")) {
        window.location.href = "/auth/login";
      }

      document.getElementById("user-name").innerHTML = localStorage.getItem("nama");
      document.getElementById("img-sider").src = `data:image/jpg;base64,${localStorage.getItem("photo")}`;
      function handleLogout() {
        localStorage.clear();
        window.location.href = "/auth/login";
      }
      //============================================

      function navigateEdit() {
        window.location.href = `/auth/edit/${localStorage.getItem("id")}`;
      }

      let data = "{{json}}";

      data = data.replace(/&#34;/g, '"');

      let jsonArray = JSON.parse(data);

      function createPDF(id) {
        var datas = jsonArray?.find((datas) => datas.id === parseInt(id));

        // ========== PASS DATA ============

        document.getElementById("header-info").innerHTML = `FAKULTAS ${datas.homebase} - ${datas.prodi}`.toLocaleUpperCase();

        document.getElementById("print-nim").innerHTML = datas.nim;
        document.getElementById("print-nama").innerHTML = datas.nama_mhs;
        document.getElementById("print-prodi").innerHTML = datas.prodi;
        document.getElementById("print-fakultas").innerHTML = datas.homebase;

        document.getElementById("print-matkul-basdat").innerHTML = "Basis Data";
        document.getElementById("print-sks-basdat").innerHTML = datas.sks_basis_data;
        document.getElementById("print-nilai-basdat").innerHTML = datas.nilai_basis_data;
        document.getElementById("print-bobot-basdat").innerHTML = datas.bobot_basis_data;
        document.getElementById("print-am-basdat").innerHTML = datas.am_basis_data;

        document.getElementById("print-matkul-etpro").innerHTML = "Etika Profesi";
        document.getElementById("print-sks-etpro").innerHTML = datas.sks_etika_profesi;
        document.getElementById("print-nilai-etpro").innerHTML = datas.nilai_etika_profesi;
        document.getElementById("print-bobot-etpro").innerHTML = datas.bobot_etika_profesi;
        document.getElementById("print-am-etpro").innerHTML = datas.am_etika_profesi;

        document.getElementById("print-matkul-pbo2").innerHTML = "Pemrograman Berorientasi Objek Lanjut";
        document.getElementById("print-sks-pbo2").innerHTML = datas.sks_pbo2;
        document.getElementById("print-nilai-pbo2").innerHTML = datas.nilai_pbo2;
        document.getElementById("print-bobot-pbo2").innerHTML = datas.bobot_pbo2;
        document.getElementById("print-am-pbo2").innerHTML = datas.am_pbo2;

        document.getElementById("print-matkul-jarkom").innerHTML = "Jaringan Komputer";
        document.getElementById("print-sks-jarkom").innerHTML = datas.sks_jaringan_komputer;
        document.getElementById("print-nilai-jarkom").innerHTML = datas.nilai_jaringan_komputer;
        document.getElementById("print-bobot-jarkom").innerHTML = datas.bobot_jaringan_komputer;
        document.getElementById("print-am-jarkom").innerHTML = datas.am_jaringan_komputer;

        document.getElementById("print-matkul-robotika").innerHTML = "Robotika";
        document.getElementById("print-sks-robotika").innerHTML = datas.sks_robotika;
        document.getElementById("print-nilai-robotika").innerHTML = datas.nilai_robotika;
        document.getElementById("print-bobot-robotika").innerHTML = datas.bobot_robotika;
        document.getElementById("print-am-robotika").innerHTML = datas.am_robotika;

        document.getElementById("print-total-sks").innerHTML = parseInt(datas.sks_basis_data) + parseInt(datas.sks_etika_profesi) + parseInt(datas.sks_pbo2) + parseInt(datas.sks_jaringan_komputer) + parseInt(datas.sks_robotika);

        document.getElementById("print-total-am").innerHTML = parseInt(datas.am_basis_data) + parseInt(datas.am_etika_profesi) + parseInt(datas.am_pbo2) + parseInt(datas.am_jaringan_komputer) + parseInt(datas.am_robotika);

        document.getElementById("print-ip").innerHTML = parseFloat(
          (parseInt(datas.am_basis_data) + parseInt(datas.am_etika_profesi) + parseInt(datas.am_pbo2) + parseInt(datas.am_jaringan_komputer) + parseInt(datas.am_robotika)) /
            (parseInt(datas.sks_basis_data) + parseInt(datas.sks_etika_profesi) + parseInt(datas.sks_pbo2) + parseInt(datas.sks_jaringan_komputer) + parseInt(datas.sks_robotika))
        ).toFixed(2);

        // =================================
        var element = document.getElementById("print-content");
        var clonedElement = element.cloneNode(true);
        $(clonedElement).css("display", "block");
        html2pdf(clonedElement, {
          margin: 0.3,
          padding: 0,
          filename: `KHS-${datas.nim}`,
          image: { type: "jpeg", quality: 1 },
          html2canvas: { scale: 1, logging: true },
          jsPDF: { unit: "in", format: "A4", orientation: "L" },
          class: createPDF,
        });
        clonedElement.remove();
      }

      function handleDelete(id) {
        Swal.fire({
          title: "Hapus Data KHS?",
          text: "Apakah yakin ingin menghapus data ini!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Hapus!",
          cancelButtonText: "Batal!",
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "KHS dihapus!",
              text: "KHS telah berhasil dihapus.",
              icon: "success",
              showCancelButton: false,
              showConfirmButton: false,
            });

            setTimeout(() => {
              window.location.href = `/khs/delete/${id}`;
            }, 1000);
          }
        });
      }
    </script>
  </body>
</html>
