<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style-beranda.css" />
    <title>MTV Interfaces</title>
  </head>
  <body>
    <section>
      <h1>PBO Lanjut</h1>
      <p>Interfaces pada Model Template View (MTV)</p>

      <div class="card-container">
        <a class="card" href="/dosen">
          <span>Data Dosen</span>
        </a>
        <a class="card" href="/mahasiswa">
          <span>Data Mahasiswa</span>
        </a>
      </div>
    </section>
  </body>
</html>
