.parent-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.parent-input p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.699);
  font-size: 18px;
  width: 70%;
  background-color: #e4dede;
  text-align: center;
  /* color: white; */
  padding: 1vh 0px;
  margin-bottom: 4vh;
}

.parent-fields {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.profile-pic {
  width: 180px;
  max-height: 180px;
  display: inline-block;
}

.file-upload {
  display: none;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 180px;
  height: 180px;
  border: 2px solid #66666649;
  /* position: absolute; */
  /* top: 72px; */
}
.img-reg {
  max-width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.p-image {
  position: absolute;
  z-index: 100;
  bottom: 1vh;
  right: 1rem;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.upload-button {
  font-size: 1.8em;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
  background-color: white;
  cursor: pointer;
  border-radius: 100%;
}

.con {
  position: relative;
}

.hidden-label {
  display: none;
}

.input-fields {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 3vh;
  column-gap: 0.5rem;
}

.input-fields-col-1 {
  grid-column: span 1 / span 1;
  font-weight: 600;
}

.input-fields-col-2 {
  grid-column: span 2 / span 2;
  font-weight: 600;
}
