<!DOCTYPE html>
<html>
  <head>
    <title>Data Dosen</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Data Dosen</h3>
    <a href="/dosen/create"><button>Tambah</button></a>
    <a href="/"><button>Kembali</button></a><br /><br />
    <table>
      <thead>
        <tr>
          <th>NIDN</th>
          <th>Nama</th>
          <th>Mata Kuliah</th>
          <th colspan="2">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in data %}
        <tr>
          <td>{{ obj.nidn }}</td>
          <td>{{ obj.nama }}</td>
          <td>{{ obj.bidang }}</td>
          <td><a href="/dosen/edit/{{ obj.id }}" class="edit-button">Edit</a></td>
          <td><a href="/dosen/delete/{{ obj.id }}" title="delete" class="delete-button" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
