<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Tambah Dosen</title>
  </head>
  <body>
    <section class="sider">
      <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="img" />
      <a href="/" class="selection">Dosen</a>
      <a href="/mahasiswa" class="not-selection">Mahasiswa</a>
    </section>
    <section class="container-content">
      <h3>Tambah Dosen</h3>
      <div class="container-table">
        <form action="/dosen/store" method="POST">
          <div class="group"><input type="text" id="nidn" name="nidn" required="required" /><span class="highlight"></span><span class="bar"></span><label for="nidn">Nidn</label></div>
          <div class="group"><input type="text" id="nama" name="nama" required="required" /><span class="highlight"></span><span class="bar"></span><label for="nama">Nama</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <div class="group"><input type="text" id="bidang" name="bidang" required="required" /><span class="highlight"></span><span class="bar"></span><label for="bidang">Bidang</label></div>
          <br />
          <br />
          <br />
          <input class="btn w-full" type="submit" value="submit" />
        </form>
      </div>
    </section>
  </body>
</html>
