<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Data Mahasiswa</title>
  </head>
  <body>
    <h3>Data Mahasiswa</h3>
    <a href="/mahasiswa/create">Tambah</a><br /><br />
    <table>
      <thead>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
          <th>Kelas</th>
          <th>Program Studi</th>
          <th>Fakultas</th>
          <th colspan="2">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in data %}
        <tr>
          <td>{{ obj.nim }}</td>
          <td>{{ obj.nama }}</td>
          <td>{{ obj.kelas }}</td>
          <td>{{ obj.program_studi }}</td>
          <td>{{ obj.fakultas }}</td>
          <td><a href="/mahasiswa/edit/{{ obj.id }}">Edit</a></td>
          <td><a href="/mahasiswa/delete/{{ obj.id }}" title="delete" class="delete" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Data Mahasiswa</title>
  </head>
  <body>
    <section class="sider">
      <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="img" />
      <a href="/" class="not-selection">Dosen</a>
      <a href="/mahasiswa" class="selection">Mahasiswa</a>
    </section>
    <section class="container-content">
      <h3>Data Mahasiswa</h3>
      <a class="btn align-self" href="/mahasiswa/create">Tambah</a><br /><br />
      <div class="container-table">
        <table>
          <thead>
            <tr>
              <th>NIM</th>
              <th>Nama</th>
              <th>Kelas</th>
              <th>Program Studi</th>
              <th>Fakultas</th>
              <th colspan="2">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in data %}
            <tr>
              <td>{{ obj.nim }}</td>
              <td>{{ obj.nama }}</td>
              <td>{{ obj.kelas }}</td>
              <td>{{ obj.program_studi }}</td>
              <td>{{ obj.fakultas }}</td>
              <td><a class="btn" href="/mahasiswa/edit/{{ obj.id }}">Edit</a></td>
              <td><a class="btn-outline" href="/mahasiswa/delete/{{ obj.id }}" title="delete" onclick="return confirm('Anda yakin untuk menghapus data ini?')">Hapus</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
